[submodule "cryptolayer"]
	path = src/cryptolayer
	url = https://github.com/igmunv/cryptolayer
[submodule "modules"]
	path = src/modules
	url = https://github.com/igmunv/cryptolayer-modules
[submodule "dicts"]
	path = src/dicts
	url = https://github.com/igmunv/cryptolayer-wordcoder-dicts
